%shadow {
   content: "";
   background: rgba(0,0,0,0.83);
   background: linear-gradient(to bottom,rgba(54,54,54,0.8) 0,rgba(54,54,54,0.5) 9%,rgba(54,54,54,0.1) 17%,rgba(54,54,54,0) 22%,rgba(54,54,54,0) 60%,rgba(54,54,54,0.35) 70%,rgba(54,54,54,0.42) 72%,rgba(54,54,54,0.44) 75%,rgba(54,54,54,0.61) 100%);
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;   
}

.bullet {
	font-size: 15px;
	text-transform: uppercase;
	
	.icon {
		color: $c-primary;
		margin-right: 6px;
	}
	
}

.red {
	color: $c-primary;
	text-transform: none;
}