@mixin transform-y($val) {
  -webkit-transform: translateY($val);
     -moz-transform: translateY($val);
      -ms-transform: translateY($val);
          transform: translateY($val);
}

@mixin transform-x($val) {
  -webkit-transform: translateX($val);
     -moz-transform: translateX($val);
      -ms-transform: translateX($val);
          transform: translateX($val);
}

@mixin transition($value1, $value2) {
   -webkit-transition: $value1 $value2;
      -moz-transition: $value1 $value2;
        -o-transition: $value1 $value2;
           transition: $value1 $value2;
}