$c-primary: #ED1C24;

$c-secondary: #242424;

$c-white: #FFF;

$c-gray-1: #CCC; 

$c-gray-2: #242424; 

$c-gray-3: #525151;

$c-gray-4: #E6E6E6;

$c-gray-5: #817F7F;

$c-gray-6: #474747;

$c-red: #BC0D14;

