*, 
*:after, 
*:before {
   @include box-sizing(border-box);
}

body {	
	background-color: $c-gray-4;
	font-family: 'dosisbold', Open Sans, sans-serif;
}

.wrap {	
	max-width: 1325px;
   @extend %center-block;
   
   &:after {
		content: "";
		display: table;
		clear: both;
   }
   
}

.row {   
   max-width: 100%!important;
   @extend %row;
}